.access-wrap {
    margin-top: $mt;
    .access-item {
        display: flex;
        @include sp{
            flex-direction: column;
            justify-content: space-between;
        }
        p {
            padding-left: 20px;
        }
    }
}

.g-map {
    @include sp {
        width: 100%;
    }
}

