.menu-wrap {
  margin-top: $mt;

  // .menu-item {
  //   width: 100%;
  //   img {
  //     height: 160px;
  //     width: 95%;
  //   }
  //   .menu-title {
  //     font-size: 1.6rem;
  //     color: #707070;
  //   }
  // }
}

.menu-price {
  font-size:2.3rem;
  margin-bottom: 1.2rem;
}