.menu-wrap {
  margin-top: $mt;
  display: flex;
  justify-content: space-between;
  .menu-item {
    width: 100%;
    img {
      height: 160px;
      width: 95%;
    }
    .menu-title {
      font-size: 1.6rem;
      color: #707070;
    }
  }
}
